<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/femiprs/RestAssuredAPITesting/src/test/java/Zippopotam/com/TestCase.java">
        <classes>
            <class name="zippopotam.com.TestCase">
                <methods>
                    <include name="TC_001"/>
                    <include name="TC_002"/>
                    <include name="TC_003"/>
                    <include name="TC_004"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>